In [48]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_columns',15)
df = pd.read_csv('d:\\data\\csv\\train.csv')
df2 = pd.read_csv('d:\\data\\csv\\test.csv')
df.isnull().sum()
df.columns.values


most_freq = df['Age'].value_counts(dropna=True).idxmax()

df.Age.fillna(most_freq, inplace=True)



# 여자와 아이에 대한 파생변수 추가
mask= (df.Sex=='female')|(df.Age<10)
df['woman_child'] = mask.astype(int)

ndf = df[[ 'Survived','Pclass','Sex','Age','SibSp','Parch','Embarked','woman_child']]
gender = pd.get_dummies(ndf['Sex'])
ndf = pd.concat([ndf,gender],axis=1 )
onehot_embarked = pd.get_dummies(ndf['Embarked'],prefix = 'town')
ndf = pd.concat([ndf,onehot_embarked],axis=1 )
# 3.3 범주형 컬럼 drop
ndf.drop(['Sex','Embarked'], axis = 1, inplace=True)
ndf


# 독립변수와 종속변수로 분리한다.
#x = ndf[ndf.columns.difference(['diagnosis_M'])]


x = ndf.iloc[:,1:]
#x = ndf[ndf.columns.difference(['survived' ])]
y = ndf.iloc[:,:1]
#표준화
from sklearn import preprocessing

x = preprocessing.StandardScaler().fit(x).transform(x)
x


#------------


# 여자와 아이에 대한 파생변수 추가
mask= (df2.Sex=='female')|(df2.Age<10)
df2['woman_child'] = mask.astype(int)

ndf2 = df2[['Pclass','Sex','Age','SibSp','Parch','Embarked','woman_child']]
gender = pd.get_dummies(ndf2['Sex'])
ndf2 = pd.concat([ndf2,gender],axis=1 )
onehot_embarked = pd.get_dummies(ndf2['Embarked'],prefix = 'town')
ndf2 = pd.concat([ndf2,onehot_embarked],axis=1 )
# 3.3 범주형 컬럼 drop
ndf2.drop(['Sex','Embarked'], axis = 1, inplace=True)
ndf2

from sklearn import preprocessing

x2 = preprocessing.StandardScaler().fit(ndf2).transform(ndf2)
x2

#---------

from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB(alpha=0.4)
model.fit(x, y)


y_hat = model.predict(x2)


# from sklearn import metrics

# knn_matrix = metrics.confusion_matrix(y_test, y_hat)
# knn_matrix

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_hat)
print(accuracy)

# result = metrics.confusion_matrix(y_true, y_pred)
# tn,fp,fn,tp = metrics.confusion_matrix(y_true, y_hat).ravel()

f1_report = metrics.classification_report( y_test, y_hat)
print(f1_report)

C:\Users\knit\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [52]:

from sklearn import metrics
import numpy as np

# 1단계 csv ---> 데이터 프레임으로 변환

import pandas as pd
import seaborn as sns

df = pd.read_csv("d:\\data\\csv\\train.csv")

# 컬럼이 모두다 출력될 수 있도록 출력할 열의 개수 한도를 늘리기
pd.set_option('display.max_columns',15)

# 2단계 결측치 확인하고 제거하거나 치환한다.
# 2.1 타이타닉 데이터 프레임의 자료형을 확인한다.

mask4 = (df.Age<10) | (df.Sex=='female') 
df['child_women']=mask4.astype(int)

print ( df.columns)


# 2.2 결측치(NaN) 을 확인한다.
# 2.3 deck 컬럼과 embark_town 컬럼을 삭제한다.
# 설명 : deck 결측치가 많아서 컬럼을 삭제해야함.
# embark 와 embark_town 이 같은 데이터여서 embark 컬럼을 삭제해야함

rdf = df.drop(['PassengerId','Cabin','Name','Ticket'], axis =1)
print(rdf)

# 2.4 age(나이) 열에 나이가 없는 모든행을 삭제한다.
# 데이터가 한개라도 없으면 drop 해라 (how = 'any')
# 모든 데이터가 없으면 drop 해라 (how = 'all')

print(rdf.shape)

#rdf = rdf.dropna( subset=['Age'], how='all', axis=0)
#rdf['Age']=rdf['Age'].fillna(method='ffill', inplace=True)

# 나이의 결측치를 최빈값으로 치환
most_freq = rdf['Age'].value_counts(dropna=True).idxmax()  
rdf['Age'].fillna(most_freq, inplace=True)
print(rdf.shape)

# 2.5 embark 열의 NaN 값을 승선도시중 가장 많이 출현한 값으로 치환하기
most_freq = rdf['Embarked'].value_counts().idxmax()
rdf['Embarked'].fillna(most_freq, inplace = True)
print(rdf)

# 3단계 범주형 데이터를 숫자형으로 변환하기
# 3.1 feature selection (분석에 필요한 속성을 선택)
#ndf = rdf[['Survived','Pclass','Sex','Age','Sibsp','Parch','Embarked','child_women']]

ndf = rdf

# 선택된 컬럼중 2개(sex, embarked) 가 범주형이다.
#3.2 범주형 데이터를 숫자로 변환하기(원핫 인코딩)

gender = pd.get_dummies(ndf['Sex'])
ndf = pd.concat([ndf,gender], axis= 1)
onehot_embarked = pd.get_dummies(ndf['Embarked'])
ndf = pd.concat([ndf,onehot_embarked],axis=1)
ndf.drop(['Sex','Embarked'], axis=1, inplace = True)

# 4단계 정규화
# 4.1 독립변수와 종속변수(라벨) 을 지정한다.
# survived  pclass   age  sibsp  parch  female  male  C  Q  S
#   라벨                       데이터
# 종속변수                     독립변수

print(ndf.columns)
x = ndf[ ['Pclass', 'Age' ,'SibSp', 'Parch' ,'female' ,'male', 'C' ,'Q' ,'S',
          'child_women'] ]

y = ndf['Survived'] # 종속변수
print(x)

# 4.2 독립변수들을 정규화 한다.
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(x).transform(x)


## 테스트 데이터도 훈련데이터와 같이 데이터를 구성한다.
x_ktest = pd.read_csv("d:\\data\\csv\\test.csv")
mask4 = (x_ktest.Age<10) | (x_ktest.Sex=='female') 
x_ktest['child_women']=mask4.astype(int)
print ( x_ktest.columns)

# 2.2 결측치(NaN) 을 확인한다.

# 2.3 deck 컬럼과 embark_town 컬럼을 삭제한다.
# 설명 : deck 결측치가 많아서 컬럼을 삭제해야함.
#  embark 와 embark_town 이 같은 데이터여서 embark 컬럼을 삭제해야함

rdf_x_ktest = x_ktest.drop(['PassengerId','Cabin','Name','Ticket'], axis =1)
print(rdf_x_ktest)

# 나이의 결측치를 최빈값으로 치환한다.
most_freq = rdf_x_ktest['Age'].value_counts(dropna=True).idxmax()  
rdf_x_ktest['Age'].fillna(most_freq, inplace=True)
print(rdf_x_ktest.shape)

# 2.5 embark 열의 NaN 값을 승선도시중 가장 많이 출현한 값으로 치환하기
most_freq = rdf_x_ktest['Embarked'].value_counts().idxmax()
rdf_x_ktest['Embarked'].fillna(most_freq, inplace = True)
print(rdf_x_ktest)

# 3단계 범주형 데이터를 숫자형으로 변환하기
# 3.1 feature selection (분석에 필요한 속성을 선택)
#ndf = rdf[['Survived','Pclass','Sex','Age','Sibsp','Parch','Embarked','child_women']]

ndf_x_ktest = rdf_x_ktest

# 선택된 컬럼중 2개(sex, embarked) 가 범주형이다.
#3.2 범주형 데이터를 숫자로 변환하기(원핫 인코딩)
gender = pd.get_dummies(ndf_x_ktest['Sex'])
ndf_x_ktest = pd.concat([ndf_x_ktest,gender], axis= 1)
onehot_embarked = pd.get_dummies(ndf_x_ktest['Embarked'])
ndf_x_ktest = pd.concat([ndf_x_ktest,onehot_embarked],axis=1)
ndf_x_ktest.drop(['Sex','Embarked'], axis=1, inplace = True)

# 4단계 정규화
# 4.1 독립변수와 종속변수(라벨) 을 지정한다.
# survived  pclass   age  sibsp  parch  female  male  C  Q  S
#   라벨                       데이터
# 종속변수                     독립변수
print(ndf_x_ktest.columns)
x = ndf_x_ktest[ ['Pclass', 'Age' ,'SibSp', 'Parch' ,'female' ,'male', 'C' ,'Q' ,'S',
                       'child_women'] ]

#y = ndf_x_ktest['Survived'] # 종속변수

# 4.2 독립변수들을 정규화 한다.
from sklearn import preprocessing
X_test = preprocessing.StandardScaler().fit(x).transform(x)
print(len(X))


from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB( alpha = 0.4 )
model.fit( X, y )
y_hat = model.predict( X_test )
print( y_hat)

#케글에 올리기 위한 포멧으로 데이터를 구성한다.

for  i,a  in  enumerate(y_hat):
    print (i+892,',',a)

f1_report = metrics.classification_report( y_test, y_hat)
print(f1_report)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'child_women'],
      dtype='object')
     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

     child_women
0              0
1              1
2              1
3              1
4              0
..           ...
886            0
887            1
888            1
889            0
890            0

[891 rows x 9 columns]
(891, 9)
(891, 9)
     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  \
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  24.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

     child_women
0              0
1              1
2              1
3              1
4              0
..           ...
886            0
887            1
888            1
889            0
890            0

[891 rows x 9 columns]
Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'child_women',
       'female', 'male', 'C', 'Q', 'S'],
      dtype='object')
     Pclass   Age  SibSp  Parch  female  male  C  Q  S  child_women
0         3  22.0      1      0       0     1  0  0  1            0
1         1  38.0      1      0       1     0  1  0  0            1
2         3  26.0      0      0       1     0  0  0  1            1
3         1  35.0      1      0       1     0  0  0  1            1
4         3  35.0      0      0       0     1  0  0  1            0
..      ...   ...    ...    ...     ...   ... .. .. ..          ...
886       2  27.0      0      0       0     1  0  0  1            0
887       1  19.0      0      0       1     0  0  0  1            1
888       3  24.0      1      2       1     0  0  0  1            1
889       1  26.0      0      0       0     1  1  0  0            0
890       3  32.0      0      0       0     1  0  1  0            0

[891 rows x 10 columns]
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'child_women'],
      dtype='object')
     Pclass     Sex   Age  SibSp  Parch      Fare Embarked  child_women
0         3    male  34.5      0      0    7.8292        Q            0
1         3  female  47.0      1      0    7.0000        S            1
2         2    male  62.0      0      0    9.6875        Q            0
3         3    male  27.0      0      0    8.6625        S            0
4         3  female  22.0      1      1   12.2875        S            1
..      ...     ...   ...    ...    ...       ...      ...          ...
413       3    male   NaN      0      0    8.0500        S            0
414       1  female  39.0      0      0  108.9000        C            1
415       3    male  38.5      0      0    7.2500        S            0
416       3    male   NaN      0      0    8.0500        S            0
417       3    male   NaN      1      1   22.3583        C            0

[418 rows x 8 columns]
(418, 8)
     Pclass     Sex   Age  SibSp  Parch      Fare Embarked  child_women
0         3    male  34.5      0      0    7.8292        Q            0
1         3  female  47.0      1      0    7.0000        S            1
2         2    male  62.0      0      0    9.6875        Q            0
3         3    male  27.0      0      0    8.6625        S            0
4         3  female  22.0      1      1   12.2875        S            1
..      ...     ...   ...    ...    ...       ...      ...          ...
413       3    male  24.0      0      0    8.0500        S            0
414       1  female  39.0      0      0  108.9000        C            1
415       3    male  38.5      0      0    7.2500        S            0
416       3    male  24.0      0      0    8.0500        S            0
417       3    male  24.0      1      1   22.3583        C            0

[418 rows x 8 columns]
Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'child_women', 'female',
       'male', 'C', 'Q', 'S'],
      dtype='object')
891
[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 1 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]
892 , 0
893 , 1
894 , 0
895 , 0
896 , 1
897 , 0
898 , 1
899 , 0
900 , 1
901 , 0
902 , 0
903 , 0
904 , 1
905 , 0
906 , 1
907 , 1
908 , 0
909 , 0
910 , 1
911 , 1
912 , 0
913 , 0
914 , 1
915 , 0
916 , 1
917 , 0
918 , 1
919 , 0
920 , 0
921 , 0
922 , 0
923 , 0
924 , 1
925 , 1
926 , 0
927 , 0
928 , 1
929 , 1
930 , 0
931 , 0
932 , 0
933 , 0
934 , 0
935 , 1
936 , 1
937 , 0
938 , 0
939 , 0
940 , 1
941 , 1
942 , 0
943 , 0
944 , 1
945 , 1
946 , 0
947 , 0
948 , 0
949 , 0
950 , 0
951 , 1
952 , 0
953 , 0
954 , 0
955 , 1
956 , 0
957 , 1
958 , 1
959 , 0
960 , 0
961 , 1
962 , 1
963 , 0
964 , 1
965 , 0
966 , 1
967 , 0
968 , 0
969 , 1
970 , 0
971 , 1
972 , 1
973 , 0
974 , 0
975 , 0
976 , 0
977 , 0
978 , 1
979 , 1
980 , 1
981 , 1
982 , 1
983 , 0
984 , 1
985 , 0
986 , 0
987 , 0
988 , 1
989 , 0
990 , 1
991 , 0
992 , 1
993 , 0
994 , 0
995 , 0
996 , 1
997 , 0
998 , 0
999 , 0
1000 , 0
1001 , 0
1002 , 0
1003 , 1
1004 , 1
1005 , 1
1006 , 1
1007 , 0
1008 , 0
1009 , 1
1010 , 0
1011 , 1
1012 , 1
1013 , 0
1014 , 1
1015 , 0
1016 , 0
1017 , 1
1018 , 0
1019 , 1
1020 , 0
1021 , 0
1022 , 0
1023 , 0
1024 , 1
1025 , 0
1026 , 0
1027 , 0
1028 , 0
1029 , 0
1030 , 1
1031 , 0
1032 , 1
1033 , 1
1034 , 0
1035 , 0
1036 , 0
1037 , 0
1038 , 0
1039 , 0
1040 , 0
1041 , 0
1042 , 1
1043 , 0
1044 , 0
1045 , 1
1046 , 0
1047 , 0
1048 , 1
1049 , 1
1050 , 0
1051 , 1
1052 , 1
1053 , 1
1054 , 1
1055 , 0
1056 , 0
1057 , 1
1058 , 0
1059 , 0
1060 , 1
1061 , 1
1062 , 0
1063 , 0
1064 , 0
1065 , 0
1066 , 0
1067 , 1
1068 , 1
1069 , 0
1070 , 1
1071 , 1
1072 , 0
1073 , 0
1074 , 1
1075 , 0
1076 , 1
1077 , 0
1078 , 1
1079 , 0
1080 , 1
1081 , 0
1082 , 0
1083 , 0
1084 , 0
1085 , 0
1086 , 0
1087 , 0
1088 , 1
1089 , 1
1090 , 0
1091 , 1
1092 , 1
1093 , 0
1094 , 0
1095 , 1
1096 , 0
1097 , 0
1098 , 1
1099 , 0
1100 , 1
1101 , 0
1102 , 0
1103 , 0
1104 , 0
1105 , 1
1106 , 1
1107 , 0
1108 , 1
1109 , 0
1110 , 1
1111 , 0
1112 , 1
1113 , 0
1114 , 1
1115 , 0
1116 , 1
1117 , 1
1118 , 0
1119 , 1
1120 , 0
1121 , 0
1122 , 0
1123 , 1
1124 , 0
1125 , 0
1126 , 0
1127 , 0
1128 , 0
1129 , 0
1130 , 1
1131 , 1
1132 , 1
1133 , 1
1134 , 0
1135 , 0
1136 , 0
1137 , 0
1138 , 1
1139 , 0
1140 , 1
1141 , 1
1142 , 1
1143 , 0
1144 , 0
1145 , 0
1146 , 0
1147 , 0
1148 , 0
1149 , 0
1150 , 1
1151 , 0
1152 , 0
1153 , 0
1154 , 1
1155 , 1
1156 , 0
1157 , 0
1158 , 0
1159 , 0
1160 , 1
1161 , 0
1162 , 0
1163 , 0
1164 , 1
1165 , 1
1166 , 0
1167 , 1
1168 , 0
1169 , 0
1170 , 0
1171 , 0
1172 , 1
1173 , 0
1174 , 1
1175 , 1
1176 , 1
1177 , 0
1178 , 0
1179 , 0
1180 , 0
1181 , 0
1182 , 0
1183 , 1
1184 , 0
1185 , 0
1186 , 0
1187 , 0
1188 , 1
1189 , 0
1190 , 0
1191 , 0
1192 , 0
1193 , 0
1194 , 0
1195 , 0
1196 , 1
1197 , 1
1198 , 0
1199 , 0
1200 , 0
1201 , 1
1202 , 0
1203 , 0
1204 , 0
1205 , 1
1206 , 1
1207 , 1
1208 , 0
1209 , 0
1210 , 0
1211 , 0
1212 , 0
1213 , 0
1214 , 0
1215 , 0
1216 , 1
1217 , 0
1218 , 1
1219 , 0
1220 , 0
1221 , 0
1222 , 1
1223 , 0
1224 , 0
1225 , 1
1226 , 0
1227 , 0
1228 , 0
1229 , 0
1230 , 0
1231 , 0
1232 , 0
1233 , 0
1234 , 0
1235 , 1
1236 , 0
1237 , 1
1238 , 0
1239 , 1
1240 , 0
1241 , 1
1242 , 1
1243 , 0
1244 , 0
1245 , 0
1246 , 1
1247 , 0
1248 , 1
1249 , 0
1250 , 0
1251 , 1
1252 , 0
1253 , 1
1254 , 1
1255 , 0
1256 , 1
1257 , 1
1258 , 0
1259 , 1
1260 , 1
1261 , 0
1262 , 0
1263 , 1
1264 , 0
1265 , 0
1266 , 1
1267 , 1
1268 , 1
1269 , 0
1270 , 0
1271 , 0
1272 , 0
1273 , 0
1274 , 1
1275 , 1
1276 , 0
1277 , 1
1278 , 0
1279 , 0
1280 , 0
1281 , 0
1282 , 0
1283 , 1
1284 , 0
1285 , 0
1286 , 0
1287 , 1
1288 , 0
1289 , 1
1290 , 0
1291 , 0
1292 , 1
1293 , 0
1294 , 1
1295 , 0
1296 , 0
1297 , 0
1298 , 0
1299 , 0
1300 , 1
1301 , 1
1302 , 1
1303 , 1
1304 , 1
1305 , 0
1306 , 1
1307 , 0
1308 , 0
1309 , 0

In [55]:
df = pd.read_csv("d:\\data\\csv\\train.csv")
print(df.isna().sum())
df

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [44]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_columns',15)
df = pd.read_csv('d:\\data\\csv\\train.csv')
test = pd.read_csv('d:\\data\\csv\\test.csv')
df.isnull().sum()
df.columns.values
most_freq = df['Age'].value_counts(dropna=True).idxmax()

df.Age.fillna(most_freq, inplace=True)



# 여자와 아이에 대한 파생변수 추가
mask= (df.Sex=='female')|(df.Age<10)
df['woman_child'] = mask.astype(int)

ndf = df[[ 'Survived','Pclass','Sex','Age','SibSp','Parch','Embarked','woman_child']]
gender = pd.get_dummies(ndf['Sex'])
ndf = pd.concat([ndf,gender],axis=1 )
onehot_embarked = pd.get_dummies(ndf['Embarked'],prefix = 'town')
ndf = pd.concat([ndf,onehot_embarked],axis=1 )
# 3.3 범주형 컬럼 drop
ndf.drop(['Sex','Embarked'], axis = 1, inplace=True)
ndf


# 독립변수와 종속변수로 분리한다.
#x = ndf[ndf.columns.difference(['diagnosis_M'])]

x = ndf.iloc[:,1:]
#x = ndf[ndf.columns.difference(['survived' ])]
y = ndf.iloc[:,:1]

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [28]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_columns',15)
#df = sns.load_dataset('titanic')
df = pd.read_csv('d:\\data\\csv\\train.csv')
test = pd.read_csv('d:\\data\\csv\\test.csv')
#df.info()
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [56]:
df = pd.read_csv("d:\\data\\csv\\train.csv")
print(df.isna().sum())
df

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q