In [14]:

from sklearn import metrics
import numpy as np

# 1단계 csv ---> 데이터 프레임으로 변환

import pandas as pd
import seaborn as sns

df = pd.read_csv("d:\\data\\csv\\train.csv")

# 컬럼이 모두다 출력될 수 있도록 출력할 열의 개수 한도를 늘리기
pd.set_option('display.max_columns',15)
# 2단계 결측치 확인하고 제거하거나 치환한다.
# 2.1 타이타닉 데이터 프레임의 자료형을 확인한다.



mask4 = (df.Age<10) | (df.Sex=='female') 
df['child_women']=mask4.astype(int)

print ( df.columns)


df['title'] = df.Name.str.split('[.,]').str[1].str.strip()
df2 =df.groupby('title')['Age'].mean().round(1).reset_index()
df = pd.merge(df,df2,on='title')
df['Age_x'].fillna(df.Age_y, inplace=True)

# 2.2 결측치(NaN) 을 확인한다.
# 2.3 deck 컬럼과 embark_town 컬럼을 삭제한다.
# 설명 : deck 결측치가 많아서 컬럼을 삭제해야함.
# embark 와 embark_town 이 같은 데이터여서 embark 컬럼을 삭제해야함

rdf = df.drop(['PassengerId','Cabin','Name','Ticket'], axis =1)
print(rdf)

# 2.4 age(나이) 열에 나이가 없는 모든행을 삭제한다.
# 데이터가 한개라도 없으면 drop 해라 (how = 'any')
# 모든 데이터가 없으면 drop 해라 (how = 'all')
# 나이의 결측치를 최빈값으로 치환한다.

#print(rdf.shape)

#rdf = rdf.dropna( subset=['Age'], how='all', axis=0)
#rdf['Age']=rdf['Age'].fillna(method='ffill', inplace=True)

#most_freq = rdf['Age'].value_counts(dropna=True).idxmax()  
#rdf['Age'].fillna(rdf.Age_y, inplace=True)
print(rdf.shape)

# 2.5 embark 열의 NaN 값을 승선도시중 가장 많이 출현한 값으로 치환하기
most_freq = rdf['Embarked'].value_counts().idxmax()
rdf['Embarked'].fillna(most_freq, inplace = True)
print(rdf)


# 2.6 fare 의 이상치를 제거합니다.

local_std = rdf.Fare.std() * 5
print(local_std)
rdf = rdf[:][ rdf['Fare'] < local_std  ]

# 3단계 범주형 데이터를 숫자형으로 변환하기
# 3.1 feature selection (분석에 필요한 속성을 선택)
#ndf = rdf[['Survived','Pclass','Sex','Age','Sibsp','Parch','Embarked','child_women']]

ndf = rdf

# 선택된 컬럼중 2개(sex, embarked) 가 범주형이다.
#3.2 범주형 데이터를 숫자로 변환하기(원핫 인코딩)

gender = pd.get_dummies(ndf['Sex'])
ndf = pd.concat([ndf,gender], axis= 1)
onehot_embarked = pd.get_dummies(ndf['Embarked'])
ndf = pd.concat([ndf,onehot_embarked],axis=1)
ndf.drop(['Sex','Embarked'], axis=1, inplace = True)

print(ndf.columns)


# 4단계 정규화
# 4.1 독립변수와 종속변수(라벨) 을 지정한다.
# survived  pclass   age  sibsp  parch  female  male  C  Q  S
#   라벨                       데이터
# 종속변수                     독립변수

print(ndf.columns)
x = ndf[ ['Fare', 'Pclass', 'Age_x' ,'SibSp', 'Parch' ,'female' ,'male', 'C' ,'Q' ,'S',
          'child_women'] ]

#x = ndf[ ['Fare', 'Pclass', 'Age' ,'SibSp', 'Parch' ,'female' ,'male', 'child_women', 'Parch'] ]

y = ndf['Survived'] # 종속변수
print(x)




# 4.2 독립변수들을 정규화 한다.
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(x).transform(x)



# 7단계 테스트 데이터로 예측을 한다.

x_ktest = pd.read_csv("d:\\data\\csv\\test.csv")
# 2단계 결측치 확인하고 제거하거나 치환한다.
# 2.1 타이타닉 데이터 프레임의 자료형을 확인한다.


mask4 = (x_ktest.Age<10) | (x_ktest.Sex=='female') 
x_ktest['child_women']=mask4.astype(int)
print ( x_ktest.columns)

# 2.2 결측치(NaN) 을 확인한다.
x_ktest['title'] = x_ktest.Name.str.split('[.,]').str[1].str.strip()
x_ktest2 =x_ktest.groupby('title')['Age'].mean().round(1).reset_index()
x_ktest = pd.merge(x_ktest,x_ktest2,on='title')
x_ktest['Age_x'].fillna(df.Age_y, inplace=True)
# 2.3 deck 컬럼과 embark_town 컬럼을 삭제한다.
# 설명 : deck 결측치가 많아서 컬럼을 삭제해야함.
#  embark 와 embark_town 이 같은 데이터여서 embark 컬럼을 삭제해야함

rdf_x_ktest = x_ktest.drop(['PassengerId','Cabin','Name','Ticket'], axis =1)
print(rdf_x_ktest)


# 2.4 age(나이) 열에 나이가 없는 모든행을 삭제한다.
# 데이터가 한개라도 없으면 drop 해라 (how = 'any')

# 모든 데이터가 없으면 drop 해라 (how = 'all')
#rdf_x_ktest = rdf_x_ktest.dropna( subset=['Age'], how='any', axis=0)

# most_freq = rdf_x_ktest['Age'].value_counts(dropna=True).idxmax()  
# rdf_x_ktest['Age'].fillna(most_freq, inplace=True)
# print(rdf_x_ktest.shape)



# 2.5 embark 열의 NaN 값을 승선도시중 가장 많이 출현한 값으로 치환하기
most_freq = rdf_x_ktest['Embarked'].value_counts().idxmax()
rdf_x_ktest['Embarked'].fillna(most_freq, inplace = True)
print(rdf_x_ktest)


# 2.6 fare 열의 NaN 값을 요금중 가장 많이 출현한 값으로 치환하기
most_freq = rdf_x_ktest['Fare'].value_counts().idxmax()
rdf_x_ktest['Fare'].fillna(most_freq, inplace = True)
print(rdf_x_ktest)


# 3단계 범주형 데이터를 숫자형으로 변환하기
# 3.1 feature selection (분석에 필요한 속성을 선택)
#ndf = rdf[['Survived','Pclass','Sex','Age','Sibsp','Parch','Embarked','child_women']]

ndf_x_ktest = rdf_x_ktest

# 선택된 컬럼중 2개(sex, embarked) 가 범주형이다.
#3.2 범주형 데이터를 숫자로 변환하기(원핫 인코딩)
gender = pd.get_dummies(ndf_x_ktest['Sex'])
ndf_x_ktest = pd.concat([ndf_x_ktest,gender], axis= 1)
onehot_embarked = pd.get_dummies(ndf_x_ktest['Embarked'])
ndf_x_ktest = pd.concat([ndf_x_ktest,onehot_embarked],axis=1)
ndf_x_ktest.drop(['Sex','Embarked'], axis=1, inplace = True)


# 4단계 정규화
# 4.1 독립변수와 종속변수(라벨) 을 지정한다.
# survived  pclass   age  sibsp  parch  female  male  C  Q  S
#   라벨                       데이터
# 종속변수                     독립변수
print(ndf_x_ktest.columns)
x = ndf_x_ktest[ ['Fare','Pclass', 'Age_x' ,'SibSp', 'Parch' ,'female' ,'male', 'C' ,'Q' ,'S',
                       'child_women'] ]
#x = ndf_x_ktest[ ['Fare','Pclass', 'Age' ,'SibSp', 'Parch' ,'female' ,'male', 'child_women','Parch'] ]


print ( x.isnull().sum( axis=0)  )  


#y = ndf_x_ktest['Survived'] # 종속변수

# 4.2 독립변수들을 정규화 한다.
from sklearn import preprocessing
X_test = preprocessing.StandardScaler().fit(x).transform(x)
print(len(X))
print(X.shape)
print(X_test.shape)


from  sklearn.ensemble   import  RandomForestClassifier 

tree_model = RandomForestClassifier( n_estimators=200, oob_score=False, 
                                     random_state=14)  


tree_model.fit( X, y )

#print ( tree_model.oob_score_)


# 7단계 테스트 데이터로 예측을 한다.

y_hat = tree_model.predict( X_test )
print(y_hat)


for  i,a  in  enumerate(y_hat):
    print (str(i+892) + ',' + str(a))

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'child_women'],
      dtype='object')
     Survived  Pclass     Sex  Age_x  SibSp  Parch     Fare Embarked  \
0           0       3    male   22.0      1      0   7.2500        S
1           0       3    male   35.0      0      0   8.0500        S
2           0       3    male   32.4      0      0   8.4583        Q
3           0       1    male   54.0      0      0  51.8625        S
4           0       3    male   20.0      0      0   8.0500        S
..        ...     ...     ...    ...    ...    ...      ...      ...
886         1       1    male   56.0      0      0  35.5000        C
887         0       1    male   60.0      0      0  26.5500        S
888         0       1    male   70.0      1      1  71.0000        S
889         1       1  female   33.0      0      0  86.5000        S
890         0       1    male   38.0      0      0   0.0000        S

     child_women         title  Age_y
0              0            Mr   32.4
1              0            Mr   32.4
2              0            Mr   32.4
3              0            Mr   32.4
4              0            Mr   32.4
..           ...           ...    ...
886            0           Col   58.0
887            0           Col   58.0
888            0          Capt   70.0
889            1  the Countess   33.0
890            0      Jonkheer   38.0

[891 rows x 11 columns]
(891, 11)
(891, 11)
     Survived  Pclass     Sex  Age_x  SibSp  Parch     Fare Embarked  \
0           0       3    male   22.0      1      0   7.2500        S
1           0       3    male   35.0      0      0   8.0500        S
2           0       3    male   32.4      0      0   8.4583        Q
3           0       1    male   54.0      0      0  51.8625        S
4           0       3    male   20.0      0      0   8.0500        S
..        ...     ...     ...    ...    ...    ...      ...      ...
886         1       1    male   56.0      0      0  35.5000        C
887         0       1    male   60.0      0      0  26.5500        S
888         0       1    male   70.0      1      1  71.0000        S
889         1       1  female   33.0      0      0  86.5000        S
890         0       1    male   38.0      0      0   0.0000        S

     child_women         title  Age_y
0              0            Mr   32.4
1              0            Mr   32.4
2              0            Mr   32.4
3              0            Mr   32.4
4              0            Mr   32.4
..           ...           ...    ...
886            0           Col   58.0
887            0           Col   58.0
888            0          Capt   70.0
889            1  the Countess   33.0
890            0      Jonkheer   38.0

[891 rows x 11 columns]
248.46714298590445
Index(['Survived', 'Pclass', 'Age_x', 'SibSp', 'Parch', 'Fare', 'child_women',
       'title', 'Age_y', 'female', 'male', 'C', 'Q', 'S'],
      dtype='object')
Index(['Survived', 'Pclass', 'Age_x', 'SibSp', 'Parch', 'Fare', 'child_women',
       'title', 'Age_y', 'female', 'male', 'C', 'Q', 'S'],
      dtype='object')
        Fare  Pclass  Age_x  SibSp  Parch  female  male  C  Q  S  child_women
0     7.2500       3   22.0      1      0       0     1  0  0  1            0
1     8.0500       3   35.0      0      0       0     1  0  0  1            0
2     8.4583       3   32.4      0      0       0     1  0  1  0            0
3    51.8625       1   54.0      0      0       0     1  0  0  1            0
4     8.0500       3   20.0      0      0       0     1  0  0  1            0
..       ...     ...    ...    ...    ...     ...   ... .. .. ..          ...
886  35.5000       1   56.0      0      0       0     1  1  0  0            0
887  26.5500       1   60.0      0      0       0     1  0  0  1            0
888  71.0000       1   70.0      1      1       0     1  0  0  1            0
889  86.5000       1   33.0      0      0       1     0  0  0  1            1
890   0.0000       1   38.0      0      0       0     1  0  0  1            0

[882 rows x 11 columns]
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'child_women'],
      dtype='object')
     Pclass     Sex  Age_x  SibSp  Parch      Fare Embarked  child_women  \
0         3    male   34.5      0      0    7.8292        Q            0
1         2    male   62.0      0      0    9.6875        Q            0
2         3    male   27.0      0      0    8.6625        S            0
3         3    male   14.0      0      0    9.2250        S            0
4         2    male   26.0      1      1   29.0000        S            0
..      ...     ...    ...    ...    ...       ...      ...          ...
413       1    male   47.0      1      0  227.5250        C            0
414       2    male   30.0      1      1   26.0000        S            0
415       2    male   41.0      0      0   13.0000        S            0
416       1    male   53.0      1      1   81.8583        S            0
417       1  female   39.0      0      0  108.9000        C            1

    title  Age_y
0      Mr   32.0
1      Mr   32.0
2      Mr   32.0
3      Mr   32.0
4      Mr   32.0
..    ...    ...
413   Col   50.0
414   Rev   35.5
415   Rev   35.5
416    Dr   53.0
417  Dona   39.0

[418 rows x 10 columns]
     Pclass     Sex  Age_x  SibSp  Parch      Fare Embarked  child_women  \
0         3    male   34.5      0      0    7.8292        Q            0
1         2    male   62.0      0      0    9.6875        Q            0
2         3    male   27.0      0      0    8.6625        S            0
3         3    male   14.0      0      0    9.2250        S            0
4         2    male   26.0      1      1   29.0000        S            0
..      ...     ...    ...    ...    ...       ...      ...          ...
413       1    male   47.0      1      0  227.5250        C            0
414       2    male   30.0      1      1   26.0000        S            0
415       2    male   41.0      0      0   13.0000        S            0
416       1    male   53.0      1      1   81.8583        S            0
417       1  female   39.0      0      0  108.9000        C            1

    title  Age_y
0      Mr   32.0
1      Mr   32.0
2      Mr   32.0
3      Mr   32.0
4      Mr   32.0
..    ...    ...
413   Col   50.0
414   Rev   35.5
415   Rev   35.5
416    Dr   53.0
417  Dona   39.0

[418 rows x 10 columns]
     Pclass     Sex  Age_x  SibSp  Parch      Fare Embarked  child_women  \
0         3    male   34.5      0      0    7.8292        Q            0
1         2    male   62.0      0      0    9.6875        Q            0
2         3    male   27.0      0      0    8.6625        S            0
3         3    male   14.0      0      0    9.2250        S            0
4         2    male   26.0      1      1   29.0000        S            0
..      ...     ...    ...    ...    ...       ...      ...          ...
413       1    male   47.0      1      0  227.5250        C            0
414       2    male   30.0      1      1   26.0000        S            0
415       2    male   41.0      0      0   13.0000        S            0
416       1    male   53.0      1      1   81.8583        S            0
417       1  female   39.0      0      0  108.9000        C            1

    title  Age_y
0      Mr   32.0
1      Mr   32.0
2      Mr   32.0
3      Mr   32.0
4      Mr   32.0
..    ...    ...
413   Col   50.0
414   Rev   35.5
415   Rev   35.5
416    Dr   53.0
417  Dona   39.0

[418 rows x 10 columns]
Index(['Pclass', 'Age_x', 'SibSp', 'Parch', 'Fare', 'child_women', 'title',
       'Age_y', 'female', 'male', 'C', 'Q', 'S'],
      dtype='object')
Fare           0
Pclass         0
Age_x          0
SibSp          0
Parch          0
female         0
male           0
C              0
Q              0
S              0
child_women    0
dtype: int64
882
(882, 11)
(418, 11)

[0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1
 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1 1 0 0 1 1 1 1 0 1 0 1 0 1 1 0 1 1 1 0 1 1 1
 1 1 1 0 0 1 1 0 0 1 1 1 1 1 0 1 1 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 0
 1 0 0 1 1 1 0 1 1 0 1 1 0 1 1 1 0 1 0 1 1 0 0 1 1 0 1 0 1 1 1 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 1]
892,0
893,0
894,0
895,0
896,0
897,0
898,0
899,0
900,0
901,0
902,1
903,1
904,0
905,0
906,0
907,0
908,0
909,0
910,0
911,0
912,1
913,0
914,1
915,0
916,0
917,0
918,0
919,0
920,0
921,0
922,0
923,0
924,0
925,0
926,0
927,0
928,0
929,0
930,0
931,0
932,0
933,0
934,0
935,0
936,0
937,0
938,0
939,0
940,0
941,0
942,0
943,0
944,0
945,0
946,0
947,0
948,0
949,0
950,0
951,0
952,0
953,0
954,0
955,0
956,0
957,0
958,0
959,0
960,0
961,0
962,0
963,0
964,0
965,0
966,0
967,0
968,0
969,0
970,0
971,0
972,0
973,0
974,0
975,0
976,0
977,0
978,0
979,0
980,0
981,0
982,0
983,0
984,0
985,0
986,0
987,0
988,0
989,0
990,0
991,0
992,1
993,0
994,0
995,0
996,0
997,0
998,0
999,0
1000,0
1001,0
1002,0
1003,0
1004,0
1005,0
1006,0
1007,0
1008,0
1009,0
1010,0
1011,0
1012,0
1013,0
1014,0
1015,0
1016,0
1017,0
1018,0
1019,0
1020,0
1021,0
1022,1
1023,0
1024,1
1025,1
1026,1
1027,0
1028,0
1029,0
1030,0
1031,1
1032,0
1033,0
1034,0
1035,0
1036,0
1037,0
1038,0
1039,0
1040,0
1041,0
1042,0
1043,0
1044,0
1045,0
1046,0
1047,0
1048,0
1049,0
1050,0
1051,0
1052,0
1053,0
1054,0
1055,0
1056,0
1057,0
1058,0
1059,0
1060,0
1061,0
1062,1
1063,0
1064,0
1065,0
1066,0
1067,0
1068,1
1069,0
1070,0
1071,1
1072,0
1073,0
1074,0
1075,0
1076,0
1077,0
1078,0
1079,0
1080,0
1081,0
1082,0
1083,0
1084,0
1085,0
1086,0
1087,0
1088,0
1089,0
1090,0
1091,0
1092,0
1093,0
1094,0
1095,0
1096,0
1097,0
1098,0
1099,0
1100,0
1101,0
1102,0
1103,0
1104,0
1105,0
1106,0
1107,0
1108,0
1109,0
1110,0
1111,0
1112,0
1113,0
1114,0
1115,0
1116,0
1117,0
1118,0
1119,0
1120,0
1121,0
1122,0
1123,0
1124,1
1125,0
1126,0
1127,0
1128,0
1129,0
1130,0
1131,0
1132,0
1133,0
1134,1
1135,1
1136,1
1137,1
1138,1
1139,1
1140,1
1141,1
1142,1
1143,1
1144,1
1145,1
1146,1
1147,1
1148,1
1149,1
1150,0
1151,1
1152,1
1153,1
1154,1
1155,1
1156,1
1157,1
1158,0
1159,1
1160,1
1161,1
1162,1
1163,1
1164,1
1165,1
1166,1
1167,1
1168,1
1169,1
1170,1
1171,1
1172,1
1173,1
1174,1
1175,1
1176,1
1177,1
1178,1
1179,0
1180,1
1181,1
1182,1
1183,0
1184,1
1185,1
1186,1
1187,1
1188,1
1189,1
1190,1
1191,0
1192,1
1193,1
1194,1
1195,0
1196,1
1197,1
1198,1
1199,0
1200,1
1201,1
1202,1
1203,1
1204,0
1205,0
1206,1
1207,1
1208,1
1209,1
1210,0
1211,1
1212,0
1213,1
1214,0
1215,1
1216,1
1217,0
1218,1
1219,1
1220,1
1221,0
1222,1
1223,1
1224,1
1225,1
1226,1
1227,1
1228,0
1229,0
1230,1
1231,1
1232,0
1233,0
1234,1
1235,1
1236,1
1237,1
1238,1
1239,0
1240,1
1241,1
1242,1
1243,0
1244,1
1245,1
1246,0
1247,1
1248,0
1249,1
1250,1
1251,1
1252,1
1253,1
1254,1
1255,1
1256,1
1257,0
1258,0
1259,1
1260,1
1261,0
1262,1
1263,0
1264,0
1265,1
1266,1
1267,1
1268,0
1269,1
1270,1
1271,0
1272,1
1273,1
1274,0
1275,1
1276,1
1277,1
1278,0
1279,1
1280,0
1281,1
1282,1
1283,0
1284,0
1285,1
1286,1
1287,0
1288,1
1289,0
1290,1
1291,1
1292,1
1293,0
1294,1
1295,1
1296,0
1297,0
1298,0
1299,0
1300,0
1301,0
1302,0
1303,0
1304,0
1305,0
1306,0
1307,0
1308,0
1309,1

In [6]:
df.Name.str.split('[.,]').str[1].str.strip()

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
886     Rev
887    Miss
888    Miss
889      Mr
890      Mr
Name: Name, Length: 891, dtype: object