In [17]:
#문제 1
a=1
b=1
print(a+b)

2

In [18]:
#문제2
for i in [1,2,3]:
    print(i+1)

2
3
4

In [19]:
#문제
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [21]:
b='scott'
print(type(b))

<class 'str'>

In [22]:
c=1
print(type(c))

<class 'int'>

In [23]:
d=[1,2,3]
print(d)
print(d[0])

[1, 2, 3]
1

In [24]:
z=['a','b','d','e','k','m','n','z']
print(z[4])

k

In [25]:
a=200
b='i love python'
c=['a','b','c']
print(a)
print(b)
print(c)

200
i love python
['a', 'b', 'c']

In [28]:
listdata=['a','b','c']
if 'a' in listdata:
    print('a가 listdata에 있습니다.')

a가 listdata에 있습니다.

In [31]:
a=int(input('1'))
b=int(input('2'))
if a<b:
    print(a,'가 ',b,'보다 작다')
elif a>b:
    print(a,'가 ',b,'보다 크다')
else:
    print(a,'와 ',b,'가 같다')

13
24
3 가  4 보다 작다

In [33]:
for i in [1,2,3]:
    print(i)

1
2
3

In [35]:
for i in (1,2,3):
    print(i)

1
2
3

In [37]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
m={'i':'나는','am':'입니다','boy':'소년'}
for i in m:
    print(i)

i
am
boy

In [39]:
m.items()

dict_items([('i', '나는'), ('am', '입니다'), ('boy', '소년')])

In [40]:
for i in 'i am a boy':
    print(i)

i

a
m

a

b
o
y

In [41]:
for j in range(2,10):
    print(2,'x',j,'=',2*j)

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [42]:
for i in range(2,10):
    for j in range(1,10):
        print(i,'x',j,'=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [43]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [44]:
for i in range(0,10):
    if i%2 == 1:
        continue
    print(i)

0
2
4
6
8

In [45]:
scope = [1,2,3,4,5,6]
for i in scope:
    print(i)
    if i==5:
        break

1
2
3
4
5

In [46]:
b=int(input('수입력'))
for i in range(1,101):
    print(i)
    if i == b:
        break

수입력50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [47]:
a = int(input('첫수'))
b = int(input('둘수'))
for i in range(max(a,b),0,-1):
    if a%i==0 and b%i==0:
        print(i)
        break

첫수20
둘수30
10