In [2]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
for emp_list in emp_csv:
    for i in (1,15):
        if emp_list[0] == i:
            print(emp_list[1], emp_list[5])

In [ ]:

file = open('c:\\data\\dept2.csv','r') 
dept_csv = csv.reader(file) 

    print(emp_list[7],emp_list[1], emp_list[5])

In [135]:
import csv 
import copy
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
file = open('c:\\data\\dept2.csv','r') 
dept_csv = csv.reader(file)
dept = copy.deepcopy(list(dept_csv))
print(dept)
for emp_list in emp_csv:
    a = emp_list[7]
    for dept_list in dept
        if dept_list[0] == a:
            print(emp_list[1], emp_list[7], dept_list[2])
            break

[['10', 'ACCOUNTING', 'NEW YORK'], ['20', 'RESEARCH', 'DALLAS'], ['30', 'SALES', 'CHICAGO'], ['40', 'OPERATIONS', 'BOSTON']]

In [145]:
import csv 
import copy
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
file = open('c:\\data\\dept2.csv','r') 
dept_csv = list(csv.reader(file))
print(dept_csv)
for i in dept_csv:
    print(i)

[['10', 'ACCOUNTING', 'NEW YORK'], ['20', 'RESEARCH', 'DALLAS'], ['30', 'SALES', 'CHICAGO'], ['40', 'OPERATIONS', 'BOSTON']]
['10', 'ACCOUNTING', 'NEW YORK']
['20', 'RESEARCH', 'DALLAS']
['30', 'SALES', 'CHICAGO']
['40', 'OPERATIONS', 'BOSTON']

In [176]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
file = open('c:\\data\\dept2.csv','r') 
dept_csv = list(csv.reader(file) )
for i in dept_csv:
    print(i)

['10', 'ACCOUNTING', 'NEW YORK']
['20', 'RESEARCH', 'DALLAS']
['30', 'SALES', 'CHICAGO']
['40', 'OPERATIONS', 'BOSTON']

In [93]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
for i in range(1,10):
    i += 1
    print(i)
    file = open('c:\\data\\dept2.csv','r') 
    dept_csv = csv.reader(file) 
    for dept_list in dept_csv:
        

        print(dept_list[2])

2
NEW YORK
DALLAS
CHICAGO
BOSTON
3
NEW YORK
DALLAS
CHICAGO
BOSTON
4
NEW YORK
DALLAS
CHICAGO
BOSTON
5
NEW YORK
DALLAS
CHICAGO
BOSTON
6
NEW YORK
DALLAS
CHICAGO
BOSTON
7
NEW YORK
DALLAS
CHICAGO
BOSTON
8
NEW YORK
DALLAS
CHICAGO
BOSTON
9
NEW YORK
DALLAS
CHICAGO
BOSTON
10
NEW YORK
DALLAS
CHICAGO
BOSTON

In [36]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
file = open('c:\\data\\dept2.csv','r') 
dept_csv = csv.reader(file) 
i = 0
j = 0
for i in range(1, 10):
    print(i)
    for j in range(1,10):
        print(j)
        j += 1
    i = i +1

1
1
2
3
4
5
6
7
8
9
2
1
2
3
4
5
6
7
8
9
3
1
2
3
4
5
6
7
8
9
4
1
2
3
4
5
6
7
8
9
5
1
2
3
4
5
6
7
8
9
6
1
2
3
4
5
6
7
8
9
7
1
2
3
4
5
6
7
8
9
8
1
2
3
4
5
6
7
8
9
9
1
2
3
4
5
6
7
8
9

In [45]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
for emp_list in emp_csv:
    if 1000<=int(emp_list[5])<=3000:
        print(emp_list[1], emp_list[5])

BLAKE 2850
CLARK 2450
JONES 2975
MARTIN 1250
ALLEN 1600
TURNER 1500
WARD 1250
FORD 3000
SCOTT 3000
ADAMS 1100
MILLER 1300

In [61]:
import pandas as pd
emp = pd.read_csv('c:\\data\\emp3.csv')
print(emp[['ename','sal']][~emp['sal'].between(1000,3000)])

    ename   sal
0    KING  5000
7   JAMES   950
10  SMITH   800

In [79]:
import pandas as pd
emp = pd.read_csv('c:\\data\\emp3.csv')
print(emp[['ename','job']][emp['job'].isin(['SALESMAN','ANALYST'])])

     ename       job
4   MARTIN  SALESMAN
5    ALLEN  SALESMAN
6   TURNER  SALESMAN
8     WARD  SALESMAN
9     FORD   ANALYST
11   SCOTT   ANALYST

In [82]:
import pandas as pd
emp = pd.read_csv('c:\\data\\emp3.csv')
print(emp[['ename','job']][emp['job'].isin(['SALESMAN','ANALYST'])==False])

     ename        job
0     KING  PRESIDENT
1    BLAKE    MANAGER
2    CLARK    MANAGER
3    JONES    MANAGER
7    JAMES      CLERK
10   SMITH      CLERK
12   ADAMS      CLERK
13  MILLER      CLERK

In [88]:
import pandas as pd
emp = pd.read_csv('c:\\data\\emp3.csv')
print(emp[['ename','comm']][~emp['comm'].isnull()])

    ename    comm
4  MARTIN  1400.0
5   ALLEN   300.0
6  TURNER     0.0
8    WARD   500.0

In [104]:
a = 'scott'
print(a[0])
print(a[-5])

s
s

In [ ]:
import pandas as pd
emp = pd.read_csv('c:\\data\\emp3.csv')
print(emp[['ename']][emp['name'].apply()])

In [118]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
for emp_list in emp_csv:
    if emp_list[1][-1] == 'T':
        print(emp_list[1])

SCOTT

In [112]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
for emp_list in emp_csv:
    print(emp_list[1][0])

K
B
C
J
M
A
T
J
W
F
S
S
A
M

In [117]:
import pandas as pd
emp = pd.read_csv('c:\\data\\emp3.csv')
result = emp['ename'].apply(lambda x:x[0]=='S')
#print(result)
result2 = emp[['ename']][result==True]
print(result2)

    ename
10  SMITH
11  SCOTT

In [120]:
listdata = [1,2,3,4]
print(listdata[3])

4

In [121]:
listdata = [1,2,[4,5,6]]
print(listdata[2][0])

4

In [122]:
a = 'scott'
print(a[1:3])

co

In [128]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
for emp_list in emp_csv:
    print(emp_list[1][-3:])

ING
AKE
ARK
NES
TIN
LEN
NER
MES
ARD
ORD
ITH
OTT
AMS
LER

In [129]:
a = 'i love '
b = 'python'
print(a+b)

i love python

In [130]:
a = [2,3,4,5]
b = [9,2,4,8]
print (a+b)

[2, 3, 4, 5, 9, 2, 4, 8]

In [151]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
for emp_list in emp_csv:
    print(emp_list[1][0].upper()+emp_list[1][1:].lower())

King
Blake
Clark
Jones
Martin
Allen
Turner
James
Ward
Ford
Smith
Scott
Adams
Miller

In [154]:
print([1,2,3]*7)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [166]:
a = int(input(''))

for i in range(a,0,-1):
    print(2*(i-1)*' '+(a+1-i)*'☆')

5
        ☆
      ☆☆
    ☆☆☆
  ☆☆☆☆
☆☆☆☆☆

In [167]:
strdata = 'abcedfg'
listdata = ['a','b','c','d','e']

print(len(strdata))
print(len(listdata))

7
5

In [168]:
import csv 
file = open('c:\\data\\emp2.csv','r') 
emp_csv = csv.reader(file) 
for emp_list in emp_csv:
    if 1:
        print(emp_list[1],len(emp_list[1]))

KING 4
BLAKE 5
CLARK 5
JONES 5
MARTIN 6
ALLEN 5
TURNER 6
JAMES 5
WARD 4
FORD 4
SMITH 5
SCOTT 5
ADAMS 5
MILLER 6

import  cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn('localhost',1521,'orcl')
db = cx_Oracle.connect('scott','tiger',dsn)
cursor = db.cursor()
cursor.execute(""" select * from emp """)
row = cursor.fetchall()
colname = cursor.description 
cursor.close() 
col = [ ] 
for i in colname: 
	col.append(i[0]) 
emp = pd.DataFrame(row,columns = col)
print(emp[['ENAME','SAL']][emp['SAL'] >= 1200])

In [185]:
import cx_Oracle 
import pandas as pd

dsn = cx_Oracle.makedsn('localhost',1521,'orcl') 
db = cx_Oracle.connect('scott','tiger',dsn) 
cursor = db.cursor() 
cursor.execute(""" select * from emp """) 
row = cursor.fetchall() 
colname = cursor.description 
cursor.close() 
col = [ ] 
for i in colname: 
    col.append(i[0]) 
emp = pd.DataFrame(row,columns = col) 
print(emp[['ENAME','SAL']][emp['SAL'] >= 1200])

     ENAME     SAL
0     KING  5000.0
1    BLAKE  2850.0
2    CLARK  2450.0
3    JONES  2975.0
4   MARTIN  1250.0
5    ALLEN  1600.0
6   TURNER  1500.0
8     WARD  1250.0
9     FORD  3000.0
11   SCOTT  3000.0
13  MILLER  1300.0

In [174]:
import  cx_Oracle
import pandas as pd

dsn = cx_Oracle.makedsn('localhost',1521,'orcl')
db = cx_Oracle.connect('scott','tiger',dsn)
cursor = db.cursor()
cursor.execute(""" select * from dept """)
row = cursor.fetchall()
dept = pd.DataFrame(row)
print(dept)

    0           1         2
0  10  ACCOUNTING  NEW YORK
1  20    RESEARCH    DALLAS
2  30       SALES   CHICAGO
3  40  OPERATIONS    BOSTON

In [175]:
	
dsn = cx_Oracle.makedsn('localhost',1521,'orcl')
db = cx_Oracle.connect('scott','tiger',dsn)
cursor = db.cursor()
cursor.execute(""" select * from dept """)
row = cursor.fetchall()
colname = cursor.description
cursor.close()
col = [ ]
for i in colname:
	col.append(i[0])
dept = pd.DataFrame(row, columns = col)
print(dept)

   DEPTNO       DNAME       LOC
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

In [177]:
import csv
import copy

file=open("c:\\data\\emp2.csv",'r')
emp=csv.reader(file)
file=open("c:\\data\\dept2.csv","r")
dept=csv.reader(file)

for dept_list in dept:
    for emp_list in emp :
        if dept_list[0]==emp_list[7]:
            print(emp_list[1], dept_list[2])

SyntaxError: invalid character in identifier (<ipython-input-177-96836973f966>, line 10)

In [186]:
import cx_Oracle 
import pandas as pd

dsn = cx_Oracle.makedsn('localhost',1521,'orcl') 
db = cx_Oracle.connect('scott','tiger',dsn) 
cursor = db.cursor() 
cursor.execute(""" select * from emp """) 
row = cursor.fetchall() 
colname = cursor.description 
cursor.close() 
col = [ ] 
for i in colname: 
    col.append(i[0]) 
emp = pd.DataFrame(row,columns = col) 
print(emp[['ENAME','SAL','DEPTNO']][emp['DEPTNO'] ==10])

     ENAME     SAL  DEPTNO
0     KING  5000.0      10
2    CLARK  2450.0      10
13  MILLER  1300.0      10

In [187]:
print(emp[['ENAME','SAL','DEPTNO']][emp['DEPTNO'] ==10])

     ENAME     SAL  DEPTNO
0     KING  5000.0      10
2    CLARK  2450.0      10
13  MILLER  1300.0      10

In [188]:
listdata = [1,2,3,4]
a = 5 in listdata
b = 4 in listdata
print(a,b)

False True

In [189]:
print(emp[['ENAME','SAL','DEPTNO']][emp['DEPTNO'].isin([10,20])])

     ENAME     SAL  DEPTNO
0     KING  5000.0      10
2    CLARK  2450.0      10
3    JONES  2975.0      20
9     FORD  3000.0      20
10   SMITH   800.0      20
11   SCOTT  3000.0      20
12   ADAMS  1100.0      20
13  MILLER  1300.0      10

In [197]:
print(emp[['ENAME','SAL','JOB']][(emp['JOB']=='SALESMAN')&(emp['SAL']>= 1000)])

    ENAME     SAL       JOB
4  MARTIN  1250.0  SALESMAN
5   ALLEN  1600.0  SALESMAN
6  TURNER  1500.0  SALESMAN
8    WARD  1250.0  SALESMAN

In [198]:
txt1 = '자바'
txt2 = '파이썬'
num1 = 5
num2 = 10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt1,txt2) )

나는 자바보다 파이썬에 더 익숙합니다.

In [199]:
txt1 = '자바'
txt2 = '파이썬'
num1 = 5
num2 = 10
print('%f는 %f보다 작습니다.' %(num1,num2) )

5.000000는 10.000000보다 작습니다.

In [216]:
for i in range(14):
    print('%s의 월급은 %f 입니다.' %(emp['ename'].values[i],emp['sal'].values[i]) )

KING의 월급은 5000.000000 입니다.
BLAKE의 월급은 2850.000000 입니다.
CLARK의 월급은 2450.000000 입니다.
JONES의 월급은 2975.000000 입니다.
MARTIN의 월급은 1250.000000 입니다.
ALLEN의 월급은 1600.000000 입니다.
TURNER의 월급은 1500.000000 입니다.
JAMES의 월급은 950.000000 입니다.
WARD의 월급은 1250.000000 입니다.
FORD의 월급은 3000.000000 입니다.
SMITH의 월급은 800.000000 입니다.
SCOTT의 월급은 3000.000000 입니다.
ADAMS의 월급은 1100.000000 입니다.
MILLER의 월급은 1300.000000 입니다.

In [220]:
print('나는 파이썬을 배웁니다 \n 파이썬은 자바보다 \\ \
훨씬 쉽습니다.')

나는 파이썬을 배웁니다
 파이썬은 자바보다 \ 훨씬 쉽습니다.

In [221]:
print('나는 \'파이썬\'을 배웁니다.')

나는 '파이썬'을 배웁니다.

In [222]:
a = [1,2,3,4,5]

print(a[0])

1

In [223]:
b = [[1,2],[3,4]]

print(b[0][1])

2

In [236]:
a = [[2,4],[5,7]]
b = [[1,3],[4,2]]
c = [ ]
for i in range(len(b)):
    for j in range(len(b[i])):
        c[i][j] = a[i][j]+b[i][j]
print(c)

IndexError: list index out of range

In [239]:
a = [[2,4],[5,7]]
b = [[1,3],[4,2]]
for i in range(len(b)):
    for j in range(len(b[i])):
        print(a[i][j]+b[i][j])

3
7
9
9